<table>
  <thead>
    <tr>
      <th>commentor</th>
      <th>comment</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.commentor %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to "View", [comment.student, comment], class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', student_path(@student), class: 'btn btn-primary' %>
